<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  </head>
<body>

<h2>MAS VALIOSOS</h2>  <p style="text-align: end;margin-top: -5%;">PRECIO</p>
<ul>
  {% for link in mvc %}
    <li>
    <!--<a href="/cripto/{{ link[0] }}" target="contenido">{{ link[0] }}</a>-->
      <a href="javascript:void(0);" onclick="parent.contenido.location.href='{{ link[0] }}'; parent.indice.location.href='indices/{{ link[0] }}';">{{ link[0] }}</a>
      <p style="text-align: end;margin-top: -5%;">{{ link[1] }}</p>
    </li>
  {% endfor %}
</ul>
<h2>MAS GANADORES (/24hs)</h2> <p style="text-align: end;margin-top: -5%;">PRECIO</p>
<ul>
  {% for link in mg %}
    <li>
      <a href="javascript:void(0);" onclick="parent.contenido.location.href='/{{ link[0] }}'; parent.indice.location.href='indices/{{ link[0] }}';">{{ link[0] }}</a>
      <p style="text-align: end;margin-top: -5%;">{{ link[2] }}</p>
    </li>
  {% endfor %}
</ul>
<h2>MAS GANADORES (/s)</h2> <p style="text-align: end;margin-top: -5%;">PRECIO</p>
<ul>
  {% for link in tg %}
    <li>
      
      <a href="javascript:void(0);" onclick="parent.contenido.location.href='/cripto/{{ link[0] }}'; parent.indice.location.href='indices/{{ link[0] }}';">{{ link[0] }}</a>
      <p style="text-align: end;margin-top: -5%;">{{ link[3] }}</p></li>
  {% endfor %}
</ul>

</body>
</html>